{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>OH NOES!</h1>
    <img src="/img/404.jpg" alt="Cover image">
  </hero>
  <p><a href="/">Please click here to go back</a></p>
</main>
{% endblock %}